/// todo: refactor this file and add true classes on it
input[type="checkbox"] {
    position    : absolute;
    line-height : 15px;
    left        : 4px;
    top         : 3px;
}

label {
    display : inline-block;
}

.input-group {
    margin-bottom : 10px;
    position      : relative;
    &-- {
        &checkbox {
            //padding-left : 25px;
            input {
                &:first-child {
                    position : static;
                }
            }
            label {
                &:first-child {

                }
            }
        }
    }
}

button {
    /*@include for-bp-sm-down {
        display : block;
        margin  : 10px 0 0 0;
    }*/
}