$gdpr--visible-time--height : 0.3s;
$gdpr--visible-time--opacity : 0.4s;

$gdpr--visible-time--height : 0.6s;
$gdpr--visible-time--opacity : 0.8s;
$gdpr--visible-time--delay-shift : -0.1;

$gdpr--gutter-h : 6px;
$gdpr--gutter-v : 4px;
