/**
 * Default Style for a GDPR double-click with backend prerendered html
 */
@keyframes gdpr--loading {
    50% {
        opacity : 0;
    }
}

@mixin gdpr--loading {
    display         : flex;
    justify-content : center;
    contain         : content;
    span {
        display : block;
        &:before {
            content    : '';
            display    : block;
            margin     : 2px;
            width      : 8px;
            height     : 8px;
            background : #333333;
        }
        &:nth-child(1):before {
            animation : gdpr--loading 1.8s infinite;
        }
        &:nth-child(2):before {
            animation : gdpr--loading 1.8s infinite 0.6s;
        }
        &:nth-child(3):before {
            animation : gdpr--loading 1.8s infinite 1.2s;
        }
    }
}

@mixin gdpr--node-visible {
    max-height : 999em;
    opacity    : 1;
    // will be used when opening
    transition : max-height $gdpr--visible-time--height ease-out,
    padding $gdpr--visible-time--height ease-out,
    opacity $gdpr--visible-time--opacity ease-out $gdpr--visible-time--height;
}

@mixin gdpr--gutter($min: smx, $max: lgx, $use: padding) {
    @if $min == smx {
        #{$use}: $gdpr--gutter-h $gdpr--gutter-v;
    }

    @if $max == smx {
    } @else {
        @if ($min == sm) or ($min == sm) or ($min == md) {
            @include for-bp-md-up {
                #{$use}: $gdpr--gutter-h*2 $gdpr--gutter-v*2;
            }
        }
        @if $max == md {
        } @else {
            @if ($min == sm) or ($min == sm) or ($min == md) or ($min == lg) {
                @include for-bp-lg-up {
                    #{$use}: $gdpr--gutter-h*3 $gdpr--gutter-v*3;
                }
            }
        }
    }
}

@mixin embed--video-responsive($ratio: '16x9') {
    position    : relative;
    height      : 0;
    padding-top : 0;
    overflow    : hidden;
    @if '16x9' == $ratio {
        // for 16x9
        padding-bottom : 56.25%;
    }
    iframe {
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }
}

@mixin embed--iframe-responsive($stretch: false) {
    display : block;
    margin  : 0 auto;
    @if $stretch {
        width : 100%;
    }
}