// Border Styling
.gdpr {
    &.w-border {
        border              : 0 solid #cdcdcd;
        border-top-width    : 1px;
        border-bottom-width : 1px;

        position            : relative;

        transition          : border-color 0.4s ease-out;

        &:before,
        &:after {
            /*content          : '';

            position         : absolute;
            display          : block;
            width            : 100%;

            border           : 0 solid #989898;
            border-top-width : 2px;

            transition       : border-color 0.4s linear;*/
        }
        &:before {
            top : 0;
        }
        &:after {
            bottom : 0;
        }

        &:hover {
            border-color : #828282;
            &:before,
            &:after {
                //border-color : #cdcdcd;
            }
        }
    }
}