.gdpr {
    margin         : 5px 0;

    display        : flex;
    flex-direction : column;

    > div {
        max-height : 0;
        opacity    : 0;
        overflow   : hidden;
        // will be used when closing, closing is done faster then opening
        transition : opacity $gdpr--visible-time--opacity * 0.4 ease-out,
        max-height $gdpr--visible-time--height * 0.4 ease-out $gdpr--visible-time--opacity  * 0.4,
        padding $gdpr--visible-time--height  * 0.4 ease-out $gdpr--visible-time--opacity  * 0.4;
    }

    &.barrier-visible,
    &.loading,
    &.content-loaded {
        min-height : 80px;
    }

    .gdpr-- {
        &content {
            overflow-y : auto;
            iframe {
                // overwrite often, generic iframe styles
                // basic responsive behaviour
                border : 0 !important;
                margin : 0 auto !important;
            }
            // Overwriting all blockquotes that are first child,
            // for catching not correctly `loading` to `content-loaded` transitions where the content creation JS factory has not finished loading/transforming
            > blockquote {
                display : none;
            }
        }
        &preview {
            &.as-bg {
            }
            &.as-img {
            }
            &--image {
                &-bg {
                }
                &-img {
                    img {
                        width  : 100%;
                        height : auto;
                    }
                }
            }
            &--html {
                margin-top : 10px;
            }
        }
        &barrier {
            &,
            p {
                text-align : center;
            }

            &.hidden-check {
                .input-group--checkbox {
                    display : none;
                }
            }

            button {
                /*cursor     : pointer;
                background : $for-general-color-primary;*/
                @include theme-button;
            }
        }
        &loading {
            &--inner {
                @include gdpr--loading;
            }
            > .gdpr--loading--label {
                text-align : center;
            }
        }
        &default {
            @include gdpr--gutter();
            @include gdpr--node-visible;
            text-align : center;
            transition : all 0ms;
        }
    }

    &.barrier-visible {
        .gdpr-- {
            &preview {
                @include gdpr--node-visible;
            }
            &barrier {
                @include gdpr--node-visible;
                @include gdpr--gutter(md);
            }
            &default {
                max-height : 0;
                padding    : 0;
            }
        }
    }
    &.loading {
        .gdpr-- {
            &preview {
                @include gdpr--node-visible;
            }

            &loading {
                @include gdpr--node-visible;
                transition : max-height $gdpr--visible-time--height/4 ease-out,
                padding $gdpr--visible-time--height/4 ease-out,
                opacity $gdpr--visible-time--opacity/4 ease-out $gdpr--visible-time--height/4;

                padding    : $gdpr--gutter-h*2 $gdpr--gutter-v*2;
                @include for-bp-md-up {
                    padding : $gdpr--gutter-h*6 $gdpr--gutter-v*2;
                }
            }
            &default {
                max-height : 0;
                padding    : 0;
            }
        }
    }
    &.content-loaded {
        .gdpr-- {
            &content {
                @include gdpr--node-visible;
                flex-grow  : 10;
                overflow-y : auto;
            }
            &loading {
                transition : all 0s;
            }
            &barrier {

            }
            &default {
                flex-grow : 1;
            }
        }
    }
}

// Preview as bg
// todo: add a lot of options
.gdpr {
    &.w-preview--as-bg {
        position : relative;
        &.barrier-visible {
            min-height : 350px;
        }
        .gdpr-- {
            &barrier {
                background-color : rgba(#fff, 0.9);
                left             : 50%;
                top              : 50%;
                position         : absolute;
                transform        : perspective(1px) translateY(-50%) translateX(-50%);
            }
            &preview {
                &.as-bg {
                    height          : 350px;

                    position        : relative;
                    z-index         : 0;

                    background-size : cover;
                }
                &.as-img {
                }
                &--image {
                    &-bg {
                        position            : absolute;
                        overflow            : hidden;
                        background-position : center center;

                        top                 : 0;
                        right               : 0;
                        bottom              : 0;
                        left                : 0;
                    }
                }
            }
        }
    }
}