// Platform specific
.gdpr {
    &--wrapper {
        // Generic centered `iframe`
        .gdpr-- {
            &content {
                iframe {
                    @include embed--iframe-responsive;
                    //margin : 0 auto !important;
                }
            }
        }

        &[data-family="facebook"] {
            &[data-type="post"] {
                .gdpr--content {
                    // centers post entry
                    display : flex;
                    .fb-post {
                        margin : 0 auto;
                    }
                }
            }
        }

        &[data-family="pinterest"] {
            .gdpr-- {
                &content {
                    // center the direct pins, boards, profiles
                    > [data-pin-log] {
                        display : block;
                        margin  : 0 auto;
                    }
                }
            }
        }

        &[data-family="youtube"] {
            &[data-type="vid"] {
                &.content-loaded {
                    .gdpr {
                        &--content {
                            @include embed--video-responsive();
                        }
                    }
                }
            }
        }

        &[data-family="vimeo"] {
            &[data-type="vid"] {
                &.content-loaded {
                    .gdpr {
                        &--content {
                            @include embed--video-responsive();
                        }
                    }
                }
            }
        }

        &[data-family="jsfiddle"] {
            .gdpr {
                &--content {
                    iframe {
                        width      : 100%;
                        min-height : 350px;
                    }
                }
            }
        }

        &[data-family="sassmeister"] {
            .gdpr {
                &--content {
                    iframe {
                        width      : 100%;
                        min-height : 350px;
                    }
                }
            }
        }

        &[data-family="google-maps"] {
            .gdpr {
                &--barrier {
                    padding : 20px;
                    @include for-bp-md-up {
                        padding : 12px 20px;
                    }
                }
            }
        }
    }
}

